@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Dancing+Script&family=Libre+Barcode+128+Text&family=Mulish:ital,wght@0,300;0,400;0,500;0,600;1,200&family=Nunito:wght@200;300;400&family=Pacifico&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Quicksand:wght@300;400;500;600;700&display=swap');
@mixin center-element {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin setWH($w,
$h) {
    width: $w;
    height: $h;
}

@mixin triangle-up() {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
}

a {
    text-decoration: none;
    color: black;
}

$headerH: 5rem;
$navbarW: 18rem;
$frameColor: #fd841f;
.active-page:not(a .menu-item) {
    border-bottom: 2px inset $frameColor;
    color: #e14d2a;
    font-weight: bold;
    &:hover {
        color: #e14d2a;
    }
}

.page {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 0 10px;
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header-main {
    width: 100%;
    align-items: center;
    background-color: $frameColor;
    border-bottom: 1px solid rgb(240, 240, 240);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    display: flex;
    position: relative;
    .header-logo {
        width: 13rem;
        font-size: 2.5rem;
        font-family: serif;
        text-align: center;
        color: white;
        border-right: 1px solid rgb(240, 240, 240);
    }
    .header-content {
        width: 90%;
        display: flex;
        margin-left: 5px;
        position: relative;
        .header-option {
            display: flex;
            position: absolute;
            right: 0;
            margin-right: 1rem;
        }
    }
    .header-btn {
        right: 0;
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin-left: 10px;
        padding: 0;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease;
        background-color: white;
        &:hover {
            background-color: #b73e3e;
        }
        &:hover svg {
            color: white;
        }
    }
    .header-account {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0 10px;
        span {
            color: white;
        }
    }
    .header-noti {
        position: absolute;
        background-color: #e14d2a;
        border: 1px solid #fd841f;
        width: 16px;
        height: 16px;
        font-size: 12px;
        line-height: 14px;
        align-content: center;
        font-weight: bold;
        color: white;
        border-radius: 50%;
        top: 0;
        right: 0;
    }
}

.header-menu {
    display: flex;
    height: 45px;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    position: relative;
    .menu-dropdown {
        margin-left: 30px;
        width: 100%;
        display: inline-block;
        position: relative;
        &:hover .menu-list {
            display: block;
        }
        &:not(.active-page):hover .menu-option {
            border-bottom: 2px inset $frameColor;
            color: #e14d2a;
            font-weight: bold;
        }
    }
    .menu-list {
        display: none;
        background: white;
        width: 100%;
        box-shadow: rgb(0 0 0 / 15%) 0px 2px 8px;
        transition: all 0.5s ease;
        position: absolute;
        z-index: 1;
        .menu-item {
            height: 2rem;
            line-height: 2rem;
            cursor: pointer;
            font-weight: normal;
            text-align: center;
            border-bottom: 1px inset rgb(240, 240, 240);
            &:hover {
                background-color: $frameColor;
                color: white;
            }
        }
    }
    .menu-option {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        width: 100%;
        text-align: center;
        position: relative;
        cursor: pointer;
        transition: all 0.1s linear;
    }
}

.navbar {
    width: $navbarW;
    height: 100vh;
    background-color: $frameColor;
    border-right: 1px solid rgb(240, 240, 240);
    padding: 0;
    margin: 0;
}

.btn-click {
    background-color: #b73e3e !important;
    svg {
        color: white;
    }
}

.search-bar {
    width: 600px;
    .search-form {
        position: relative;
        width: 60%;
        height: 40px;
        border-radius: 40px;
        background: white;
        transition: all 0.5s ease;
        @include center-element();
        &:focus-within {
            //background-color: #fffae7;
            width: 80%;
        }
        input {
            position: absolute;
            left: 38px;
            font-size: 14px;
            width: 80%;
            height: 20px;
            border: none;
            outline: none;
            background: none;
        }
        .search-icon {
            position: absolute;
            top: 5px;
            left: 10px;
            height: 20px;
            width: 20px;
            border: none;
            background: none;
            outline: none !important;
        }
    }
}

.body {
    //background-color: #eeeeee;
    width: 100%;
    @include center-element();
}

body {
    background-color: #f5f5fa;
}

.content {
    background-color: #eeeeee;
    width: 98%;
    margin-top: 10px;
    padding-top: 0px;
}

.slider {
    display: flex;
    gap: 0 5px;
    .slider-main {
        width: 70%;
        height: 250px;
        .slide-container {
            overflow: hidden;
            width: 100%;
            height: 100%;
            border-radius: 5px;
            @include center-element();
            position: relative;
            .slide {
                width: 100%;
                position: absolute;
                transition: opacity ease-in-out 0.4s;
                opacity: 0;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .slide-active {
                opacity: 1;
            }
            button {
                position: absolute;
                border: 1px solid rgba(34, 34, 34, 0.287);
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background: black;
                opacity: 30%;
                transition: opacity ease-in-out 0.3s;
                svg {
                    color: white;
                }
                &:hover {
                    opacity: 50%;
                }
            }
            .btn-right {
                top: 45%;
                right: 10px;
            }
            .btn-left {
                top: 45%;
                left: 10px;
            }
        }
        .slider-dot {
            display: flex;
            position: absolute;
            top: 90%;
            gap: 0 10px;
            .dot {
                width: 10px;
                height: 10px;
                background: #000000;
                border-radius: 50%;
                opacity: 50%;
                cursor: pointer;
            }
            .active {
                opacity: 1;
            }
        }
    }
    .slider-book-random {
        cursor: pointer;
        position: relative;
        background-color: gray;
        width: 30%;
        height: 250px;
        border-radius: 5px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            position: absolute;
        }
        &-background {
            background-color: black;
            opacity: 30%;
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
        }
        &-title {
            position: absolute;
            z-index: 1;
            color: white;
            @include center-element();
            width: 100%;
            height: 100%;
            font: {
                size: 30px;
            }
        }
    }
}

.noti {
    position: relative;
}

.box-noti {
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    display: flex;
    z-index: -1;
}

.noti-detail {
    overflow: hidden;
    position: absolute;
    width: 20rem;
    background-color: white;
    box-shadow: rgb(0 0 0 / 15%) 0px 2px 8px;
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    left: 1;
    right: 0;
    top: -10;
    z-index: 0;
    border-radius: 5px;
    .noti-title {
        width: 100%;
        padding: 1rem;
        border-bottom: 1px solid rgb(240, 240, 240);
        display: flex;
        gap: 0 180px;
        font: {
            weight: bold;
        }
    }
    .noti-item {
        width: 100%;
        padding: 1rem;
        border-bottom: 1px solid rgb(240, 240, 240);
        cursor: pointer;
        transition: all ease-in-out 0.2s;
        &:hover {
            background-color: #ededed;
        }
    }
    .last-item {
        text-align: center;
        color: #5f9df7;
    }
}

.btn-close-noti {
    border: none;
    border-radius: 5px;
    opacity: 70%;
    width: 30px;
    height: 30px;
    @include center-element();
    transition: all ease-in-out 0.3s;
    background-color: white;
    &:hover {
        background-color: #ededed;
    }
}

.triangle {
    @include triangle-up();
    position: absolute;
    left: 15px;
    top: 3px;
    z-index: 3;
    transition: all ease-in-out 0.4s;
}

.noti-active {
    opacity: 1;
    z-index: 3;
    transition: all ease-in-out 0.4s;
}

.footer {
    width: 100%;
    background-color: #feb139;
    height: 200px;
    display: flex;
    position: relative;
}

.footer-title {
    border-right: 2px solid white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
    z-index: 3;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    p {
        font: {
            size: 3rem;
            family: 'serif';
        }
        margin-bottom: 0;
    }
}

.footer-icon {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 0 10px;
    img {
        width: 30px;
        height: 30px;
        &:hover {
            cursor: pointer;
        }
    }
}

.footer-background {
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 25%;
}

.footer-des {
    margin-top: 10px;
    padding-left: 10px;
    text-align: justify;
    font: {
        size: 0.8rem;
    }
}

.footer-option {
    gap: 0 40px;
    color: white;
    z-index: 3;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    div {
        width: 35%;
        height: 150px;
        margin-top: 10px;
    }
    p {
        margin-top: 0px;
        margin-bottom: 5px;
    }
    p:not(.footer-option-title) {
        font-style: italic;
    }
}

.footer-option-title {
    height: 20px;
    color: white;
    font: {
        weight: bold;
    }
}

.modal-title-au {
    width: 100% !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 0 1rem;
    div {
        width: 50%;
        display: inline-block;
        position: relative;
        color: black;
        text-align: center;
        &:hover {
            cursor: pointer;
            color: #b73e3e
        }
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            bottom: -0.5rem;
            left: 0;
            border: 1px double #b73e3e;
            transition: transform 0.3s ease-out;
        }
        &:hover::after {
            transform: scaleX(1);
        }
    }
    .modal-active {
        color: #b73e3e !important;
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(1);
            bottom: -0.5rem;
            left: 0;
            border: 1px double #b73e3e;
            transform-origin: bottom center;
            transition: transform 0.3s ease-out;
        }
    }
    font: {
        size: 1rem;
        weight: normal
    }
}

.modal-title h4 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-header {
    display: block;
    border-bottom: none;
}

.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    form {
        display: flex;
        align-items: center;
        justify-content: center;
        font: {
            size: 1rem
        }
        flex-direction: column;
        width: 80%;
        input {
            width: 100%;
            height: 2.5rem;
            margin-bottom: 1rem;
            background-color: #EEEEEE;
            border-radius: 5px;
            padding-left: 1rem;
            border: none;
            &:focus {
                outline: none;
            }
        }
        button {
            width: 60%;
            border: none;
            height: 2.5rem;
            border-radius: 20px;
            color: white;
            background-color: #b73e3e;
            &:disabled {
                background-color: #DDDDDD;
                color: #666666;
            }
        }
    }
    .forgot-password {
        margin-top: 1rem;
        color: orange;
        text-align: right;
        &:hover {
            color: #b73e3e;
            cursor: pointer;
        }
    }
    .modal-content {
        transition: all ease-out 0.3s;
    }
}

.register-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    form {
        display: flex;
        align-items: center;
        justify-content: center;
        font: {
            size: 1rem
        }
        flex-direction: column;
        width: 80%;
        input {
            width: 100%;
            height: 2.5rem;
            margin-bottom: 1rem;
            background-color: #EEEEEE;
            border-radius: 5px;
            padding-left: 1rem;
            border: none;
            &:focus {
                outline: none;
            }
        }
        button {
            width: 60%;
            border: none;
            height: 2.5rem;
            border-radius: 20px;
            color: white;
            background-color: #b73e3e;
            &:disabled {
                background-color: #DDDDDD;
                color: #666666;
            }
        }
    }
    .modal-content {
        transition: all ease-out 0.3s;
    }
}